<div id="page">

        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div>
            <div id="logo">
                <a href="index-2.html">
                  <img src="img/logo-without-background.png" style="margin-top: 6px;" width="150" height="36" alt="" class="logo_normal">
                  <img src="img/logo.png" width="150" height="36" alt="" class="logo_sticky">
                </a>
            </div>
            <ul id="top_menu">
                <li><a href="cart-1.html" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
                <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
                <li><a href="wishlist.html" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
            </ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li><span><a href="#0">Owner</a></span>
                        <ul>
                            <li><a href="/ologin">Owner Login</a></li>
                            <li><a href="/owner">Owner Signup</a></li>
                        </ul>
                    </li>
                    <li><span><a href="#0">User</a></span>
                        <ul>
                            <li><a href="/userlogin">UserLogin</a></li>
                        </ul>
                    </li>
                    <li>
                        <span><a href="/usersignup">User Signup</a></span>
                        
                    </li>
                </ul>
            </nav>
        </header>
</div>      
        