<!DOCTYPE html>
<html lang="en">



    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
        <meta name="author" content="Ansonika">
        <!--<title>Panagea | Premium site template for travel agencies, hotels and restaurant listing.</title>-->


        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" type="image/x-icon" href="img/apple-touch-icon-57x57-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img/apple-touch-icon-144x144-precomposed.png">

        <!-- GOOGLE WEB FONT -->
        <link rel="preconnect" href="https://fonts.gstatic.com/">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">

        <!-- BASE CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/vendors.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- ALTERNATIVE COLORS CSS -->
        <link href="#" id="colors" rel="stylesheet">
        <script>
            function signup(){
            var name = document.getElementById("uname").value;
            var email = document.getElementById("uemail").value;
            var password = document.getElementById("upassword").value;
            var confirmPass = document.getElementById("password2").value;
            
            var contact = document.getElementById("ucontact").value;
            var address = document.getElementById("uaddress").value;
            
            
            if (name === "" || email === "" || password === "" || confirmPass === ""|| address === ""|| contact === "" ) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Something missing',
                        text: 'All fields are mandatory',
                        confirmButtonColor: '#d33', 
                        background: '#ffeded', 
                    });
                    return; 
                }
                
                if(password != confirmPass)
            {
                 Swal.fire({
                        icon: 'error',
                        title: 'Password Error',
                        text: 'Password and Confirm Password Must Match',
                        confirmButtonColor: '#d33', 
                        background: '#ffeded', 
                    });
                    return; // Exit function
            }
          
          if(contact.length != 10)
          {
              Swal.fire({
                        icon: 'error',
                        title: 'Contact Error',
                        text: 'Phone number must have 10 digits',
                        confirmButtonColor: '#d33', 
                        background: '#ffeded', 
                    });
                    return; // Exit function
          }
          
          
            var url = "/Usersignup";
            var formdata = new FormData();
            formdata.append("uname", name);
            formdata.append("uemail", email);
            formdata.append("upassword", password);
            formdata.append("ucontact", contact);
            formdata.append("uaddress", address);
           


            fetch(url, {method: "Post", body: formdata})
                    .then(response => response.text())
                    .then(ans => render(ans));
        }

        function render(ans) {

            if (ans == "success") {
                alert("Signup Successful");
               Swal.fire({
                        icon: 'success',
                        title: 'Signup Successful!',
                        text: 'You have successfully Signed up!',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6', // Custom button color
                        background: '#f4f6f9' // Light background for aesthetics
                    }).then((result) => {
                        // Check if the confirm button was clicked
                        if (result.isConfirmed) {
                            window.location.href = "/";
                        }
                    });
            } else if (ans === "fail") {
                alert("Signup Failed");
                    Swal.fire({
                        icon: "error",
                        title: "Signup Failed!!!",
                        showConfirmButton: false,
                        timer: 3000
                    });
                    setTimeout(3000);
                     }
                    }             
        </script>  
        


    </head>

    <body id="register_bg" >

<!--        <nav id="menu" class="fake_menu"></nav>-->

<!--        <div id="preloader">
            <div data-loader="circle-side"></div>
        </div>-->
        <!-- End Preload -->

        <div id="login">
            <aside>
                <figure>
                    <a href="index-2.html"><img src="img/logo.png" width="155" height="36" alt="" class="logo_sticky"></a>
                </figure>
                <form>
                    <div class="form-group">
                        <label>Enter Your email</label>
                        <input class="form-control" type="text" id="uemail">
                        <i class="icon_mail_alt"></i>
                    </div>

                    <div class="form-group">
                        <label>Enter Your name</label>
                        <input class="form-control" type="email" id="uname">
<!--                        <i class="icon_mail_alt"></i>-->
                    </div>
                    <div class="form-group">
                        <label>Enter Your password</label>
                        <input class="form-control" type="password" id="upassword">
<!--                        <i class="icon_lock_alt"></i>-->
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input class="form-control" type="password" id="password2">
                        <i class="icon_lock_alt"></i>
                    </div>
                   
                    <div class="form-group">
                        <label>Your Contact Number</label>
                        <input class="form-control" type="text" id="ucontact">
                        <i class="icon_phone"></i>
                        
                    </div>

                    <div class="form-group">
                        <label>Enter Address</label>
                        <input class="form-control" type="text" id="uaddress">
                        <i class="icon_mail_alt"></i>
                    </div>
        
                    <!--<div id="pass-info" class="clearfix"></div>-->
                    <input type="button" class="btn_1 rounded full-width add_top_30" value="signup" onclick="signup()" >
                    <div class="text-center add_top_10">Already have an acccount? <strong><a href='/userlogin'>Sign In</a></strong></div>
                </form>
                <div class="copy">© Bon Voyage</div>
            </aside>
        </div>

        <script src="js/common_scripts.js"></script>
        <script src="js/main.js"></script>
        <script src="phpmailer/validate.js"></script>

        <!-- SPECIFIC SCRIPTS -->
        <script src="js/pw_strenght.js"></script>

        <!-- COLOR SWITCHER  -->
<!--        <script src="js/switcher.js"></script>-->
<!--        <div id="style-switcher">
            <h6>Color Switcher <a href="#"><i class="ti-settings"></i></a></h6>
            <div>
                <ul class="colors" id="color1">
                    <li>
                        <a href="#" class="default" title="Default"></a>
                    </li>
                    <li>
                        <a href="#" class="aqua" title="Aqua"></a>
                    </li>
                    <li>
                        <a href="#" class="green_switcher" title="Green"></a>
                    </li>
                    <li>
                        <a href="#" class="orange" title="Orange"></a>
                    </li>
                    <li>
                        <a href="#" class="blue" title="Blue"></a>
                    </li>
                    <li>
                        <a href="#" class="beige" title="Beige"></a>
                    </li>
                    <li>
                        <a href="#" class="gray" title="Gray"></a>
                    </li>
                    <li>
                        <a href="#" class="green-2" title="Green"></a>
                    </li>
                    <li>
                        <a href="#" class="navy" title="Navy"></a>
                    </li>
                    <li>
                        <a href="#" class="peach" title="Peach"></a>
                    </li>
                    <li>
                        <a href="#" class="purple" title="Purple"></a>
                    </li>
                    <li>
                        <a href="#" class="red" title="Red"></a>
                    </li>
                    <li>
                        <a href="#" class="violet" title="Violet"></a>
                    </li>
                </ul>
            </div>
        </div>-->


    </body>


</html>
